@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --purple-blue: #572EE5;
  --white: #fff;
  --darkcolor: #373737;
  --font-family: 'Roboto', sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%; /*1rem = 10px*/ /*unidad raiz*/ /*definicion del rem*/
}

.App {
  font-family: var(--font-family);
  text-align: center;
  min-height: 100vh;
  transition: background-color 0.5s ease;
}

.App.light {
  background-color: #fff;
}





