.autocomp{
    margin: 0 auto;
    width: 20rem;
    height: auto;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--purple-blue);
    z-index: 10;
    /* border: 1px solid #000; */
}

.autocomp:hover{
    cursor: pointer;
    background-color: #bbbbbb;
}

/*Darkmode*/
.autocomp-dark{
    margin: 0 auto;
    width: 40%;
    height: auto;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--white);
    z-index: 10;
    /* border: 1px solid #ffff; */
}
.autocomp-dark:hover{
    cursor: pointer;
    background-color: var(--purple-blue);
}
    